html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:193px;}
.cont{z-index:1;}
.cont-2{z-index:44;}
.cont-3{z-index:45;pointer-events:none;border:0;background-color:rgb(0,0,0);}
.pos-2{position:relative;margin-top:34px;}
.vis-2{display:block;vertical-align:top;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-3{position:relative;margin-left:175px;margin-top:0;}
.size-2{min-width:610px;width:610px;min-height:96px;height:96px;}
.cont-4{z-index:46;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font{font-family:Lato;font-size:47px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:79px;letter-spacing:normal;text-shadow:none;}
.pos-4{position:relative;margin-left:385px;margin-top:8px;}
.size-3{min-width:473px;width:473px;min-height:32px;}
.pos-5{position:relative;margin-left:0;margin-top:0;}
.size-4{min-width:190px;width:190px;min-height:32px;}
.cont-6{z-index:47;pointer-events:auto;}
.button{border:0;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background-color:rgb(255,255,255);}
.button:hover{background-color:rgb(38,139,210);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.button:active{background-color:rgb(38,139,210);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.vis-4{display:inline-block;overflow:hidden;outline:0;}
.size-5{width:190px;height:18px;}
.font-2{font-family:Lato;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:7px;padding-bottom:7px;margin-top:0;margin-bottom:0;}
.pos-7{position:relative;margin-left:93px;margin-top:0;}
.cont-7{z-index:48;pointer-events:auto;}
.button-2{border:0;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background-color:rgb(255,255,255);}
.button-2:hover{background-color:rgb(42,161,152);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.button-2:active{background-color:rgb(42,161,152);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.pos-8{position:relative;margin-top:-55px;}
.section-2{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-9{position:relative;margin-left:108px;margin-top:0;}
.cont-8{z-index:49;pointer-events:auto;}
.button-3{border:0;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background-color:rgb(255,255,255);}
.button-3:hover{background-color:rgb(108,113,196);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.button-3:active{background-color:rgb(108,113,196);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.pos-10{position:relative;margin-top:25px;}
.size-6{min-width:880px;width:880px;min-height:70px;height:70px;}
.cont-9{z-index:43;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-3{font-family:Lato;font-size:39px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:66px;letter-spacing:normal;text-shadow:none;}
.pos-11{position:relative;margin-left:0;margin-top:19px;}
.size-7{min-width:276px;width:276px;min-height:71px;height:71px;}
.cont-10{z-index:2;pointer-events:auto;}
.font-4{font-family:Lato;font-size:18px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:30px;letter-spacing:normal;text-shadow:none;}
.pos-12{position:relative;margin-left:0;margin-top:18px;}
.size-8{min-width:950px;width:950px;min-height:4356px;}
.cont-11{z-index:3;pointer-events:auto;}
.size-9{min-width:320px;width:320px;min-height:56px;height:56px;}
.font-5{font-family:Lato;font-size:30px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:50px;letter-spacing:normal;text-shadow:none;}
.pos-13{position:relative;margin-left:0;margin-top:22px;}
.size-10{min-width:950px;width:950px;min-height:300px;}
.cont-12{pointer-events:none;}
.size-11{min-width:523px;width:523px;min-height:300px;height:300px;}
.cont-13{pointer-events:auto;}
.font-6{font-family:Nunito;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:29px;letter-spacing:normal;text-shadow:none;}
.pos-14{position:relative;margin-left:27px;margin-top:0;}
.size-12{min-width:400px;width:400px;min-height:300px;}
.wrapper{font-size:15px;line-height:1.4;height:300px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-15{position:relative;margin-left:0;margin-top:45px;}
.size-13{min-width:950px;width:950px;min-height:429px;}
.size-14{min-width:950px;width:950px;min-height:351px;}
.size-15{min-width:523px;width:523px;min-height:351px;height:351px;}
.font-7{background-color:initial;}
.font-8{font-family:Nunito;font-size:16px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);line-height:29px;letter-spacing:normal;text-shadow:none;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-16{position:relative;margin-left:0;margin-top:35px;}
.size-16{min-width:950px;width:950px;min-height:397px;}
.size-17{min-width:458px;width:458px;min-height:59px;height:59px;}
.size-18{min-width:950px;width:950px;min-height:319px;}
.size-19{min-width:523px;width:523px;min-height:319px;height:319px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-17{position:relative;margin-left:0;margin-top:37px;}
.size-20{min-width:950px;width:950px;min-height:404px;}
.size-21{min-width:458px;width:458px;min-height:60px;height:60px;}
.size-22{min-width:950px;width:950px;min-height:325px;}
.size-23{min-width:523px;width:523px;min-height:325px;height:325px;}
.size-24{min-width:400px;width:400px;min-height:150px;}
.wrapper-2{font-size:15px;line-height:1.4;height:150px;}
.wrapper-2 div, .wrapper-2 p, .wrapper-2 a{font-size:15px;line-height:1.4;}
.wrapper-2 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-18{position:relative;margin-left:0;margin-top:17px;}
.wrapper-2 div, .wrapper-2 p, .wrapper-2 a{font-size:15px;line-height:1.4;}
.wrapper-2 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.wrapper-2 div, .wrapper-2 p, .wrapper-2 a{font-size:15px;line-height:1.4;}
.wrapper-2 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.size-25{min-width:950px;width:950px;min-height:426px;}
.size-26{min-width:950px;width:950px;min-height:348px;}
.size-27{min-width:523px;width:523px;min-height:348px;height:348px;}
.wrapper-2 div, .wrapper-2 p, .wrapper-2 a{font-size:15px;line-height:1.4;}
.wrapper-2 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.size-28{min-width:950px;width:950px;min-height:455px;}
.size-29{min-width:950px;width:950px;min-height:377px;}
.size-30{min-width:523px;width:523px;min-height:377px;height:377px;}
.wrapper-2 div, .wrapper-2 p, .wrapper-2 a{font-size:15px;line-height:1.4;}
.wrapper-2 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.size-31{min-width:772px;width:772px;min-height:455px;}
.colwrapper{line-height:0;}
.size-32{min-width:772px;width:772px;min-height:100px;height:100px;}
.cont-14{z-index:36;pointer-events:auto;}
.pos-19{position:relative;margin-left:0;margin-top:-22px;}
.cont-15{z-index:38;pointer-events:auto;}
.pos-20{position:relative;margin-left:550px;margin-top:-377px;}
.cont-16{z-index:37;pointer-events:auto;}
.wrapper-2 div, .wrapper-2 p, .wrapper-2 a{font-size:15px;line-height:1.4;}
.wrapper-2 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.size-33{min-width:950px;width:950px;min-height:484px;}
.size-34{min-width:523px;width:523px;min-height:484px;}
.size-35{min-width:458px;width:458px;min-height:100px;height:100px;}
.cont-17{z-index:40;pointer-events:auto;}
.size-36{min-width:523px;width:523px;min-height:406px;height:406px;}
.cont-18{z-index:42;pointer-events:auto;}
.pos-21{position:relative;margin-left:27px;margin-top:78px;}
.wrapper-2 div, .wrapper-2 p, .wrapper-2 a{font-size:15px;line-height:1.4;}
.wrapper-2 input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-22{position:relative;margin-top:189px;}
.size-37{width:100%;min-width:960px;min-height:60px;}
.cont-19{z-index:50;pointer-events:none;border:0;background-color:rgb(42,161,152);}
.pos-23{position:relative;margin-top:17px;}
.pos-24{position:relative;margin-left:314px;margin-top:0;}
.size-38{min-width:332px;width:332px;min-height:38px;height:38px;}
.cont-20{z-index:51;pointer-events:auto;}
.font-9{font-family:Nunito;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:28px;letter-spacing:normal;text-shadow:none;}
.cont-21{z-index:2;}
.cont-22{z-index:3;pointer-events:none;border:0;background-color:rgb(0,0,0);}
.cont-23{z-index:4;pointer-events:auto;}
.cont-24{z-index:5;pointer-events:auto;}
.cont-25{z-index:6;pointer-events:auto;}
.cont-26{z-index:7;pointer-events:auto;}
.pos-25{position:relative;margin-top:-193px;}
.cont-27{z-index:8;}
.cont-28{z-index:9;}
.cont-29{z-index:10;pointer-events:none;border:0;background-color:rgb(0,0,0);}
.cont-30{z-index:11;pointer-events:auto;}
.cont-31{z-index:12;pointer-events:auto;}
.cont-32{z-index:13;pointer-events:auto;}
.cont-33{z-index:14;pointer-events:auto;}
.pos-26{position:relative;margin-top:46px;}
.pos-27{position:relative;margin-left:180px;margin-top:0;}
.size-39{min-width:600px;width:600px;min-height:162px;height:162px;}
.cont-34{z-index:15;pointer-events:auto;}
.font-10{font-family:Lato;font-size:56px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:94px;letter-spacing:normal;text-shadow:none;}
.pos-28{position:relative;margin-top:35px;}
.size-40{min-width:600px;width:600px;min-height:294px;height:294px;}
.cont-35{z-index:8;pointer-events:auto;}
.font-11{font-family:Lato;font-size:25px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:42px;letter-spacing:normal;text-shadow:none;}
.pos-29{position:relative;margin-left:275px;margin-top:72px;}
.size-41{min-width:685px;width:685px;min-height:260px;height:260px;}
.cont-36{z-index:9;pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;padding-right:0;text-align:right;}
.font-12{font-family:Lato;font-size:20px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:34px;letter-spacing:normal;text-shadow:none;}
